<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="WebDAV" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" 
                path="*." 
                verb="*" 
                type="System.Web.Handlers.TransferRequestHandler" 
                preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="FastCGI-Python" 
                path="*" 
                verb="*" 
                type="FastCGI" 
                scriptProcessor="C:\Users\jeans\OneDrive\Desktop\letdo it\AdvancedMaterialScience\venv\Scripts\python.exe|C:\Users\jeans\OneDrive\Desktop\letdo it\AdvancedMaterialScience\venv\Scripts\wfastcgi.py" 
                resourceType="Unspecified" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="PersonaAPI" stopProcessing="true">
                    <match url="^api/persona/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8083/{R:1}" />
                </rule>
                <rule name="QuantumAPI" stopProcessing="true">
                    <match url="^api/quantum/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8081/{R:1}" />
                </rule>
                <rule name="NeuralAPI" stopProcessing="true">
                    <match url="^api/neural/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" />
                </rule>
                <rule name="MindsDBAPI" stopProcessing="true">
                    <match url="^api/mindsdb/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8082/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <applicationInitialization>
            <add initializationPage="/health" hostName="localhost" />
        </applicationInitialization>
        <fastCgi>
            <application 
                fullPath="C:\Users\jeans\OneDrive\Desktop\letdo it\AdvancedMaterialScience\venv\Scripts\python.exe"
                arguments="C:\Users\jeans\OneDrive\Desktop\letdo it\AdvancedMaterialScience\venv\Scripts\wfastcgi.py"
                maxInstances="4"
                idleTimeout="1800">
                <environmentVariables>
                    <environmentVariable name="PYTHONPATH" value="C:\Users\jeans\OneDrive\Desktop\letdo it\AdvancedMaterialScience" />
                    <environmentVariable name="WSGI_HANDLER" value="src.CeLeBrUm.app" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" maxRequestLength="30000" />
    </system.web>
</configuration>